.body{
    margin-right:120px;
}
nav{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 50px;
    
}
.logo img{
    height: 35px;
    width: 190px;
}
.div1 h3:hover{
    color: red;
}
.src-bar input{
    height: 40px;
    width: 400px;
    border-radius: 25px;
    border: solid 2px red;
    /* padding-left: 10px; */
    text-align: center;
    font-size: 20px;
    color: white;
}

.my-ac button{
    height: 40px;
    width: 120px;
    border-radius: 25px;
    border:none;
}
.bag button{
    height: 43px;
    width: 100px;
    border-radius: 25px;
    border: none;
    background-color: red;
    color: white;
}
ul li{
    list-style: none;
}
.div12{
    display: grid;
    grid-template-columns: auto auto;
}
.div1{
    display: grid;
    grid-template-columns: auto auto; 
    margin-right: 60px;
    margin-left: 50px;
}
.div2{
    display: grid;
    grid-template-columns: auto auto auto; 
    margin-right: 50px;
}
.div1 h3{
    margin-top: 5px;
}
hr{
    width: 1300px;
    margin-top:-16px;
    color: rgb(163, 163, 168);
    
}
.snd a{
    text-decoration: none;
    color: black;
    font-size: 18px;
   
}
.t-ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ;
   margin-top: 5px;
   margin-left: 50px;
    
}
.one{
    height:30px;
    border-radius: 25px;
    color: white;
    background-color: rgb(33, 36, 249);
    border: none;
    padding:5px;
    font-weight:bold;
}
.two{
    height:30px;
    border-radius: 25px;
    color: white;
    background-color: rgb(215, 45, 45);
    border: none;
    padding:5px;
    font-weight:bold;
}
.tr{
    height:30px;
    border-radius: 25px;
    color: white;
    background-color: rgb(201, 20, 195);
    border: none;
    padding:5px;
    font-weight:bold;
}
.fr{
    height:30px;
    border-radius: 25px;
    color: white;
    background-color: rgb(65, 200, 253);
    border: none;
    padding:5px;
    font-weight:bold;
}
.fv{
    height:30px;
    border-radius: 25px;
    color: white;
    background-color: rgb(9, 165, 77);
    border: none;
    padding:5px;
    font-weight:bold;
}
.btn{
   margin-right:-100px;
   margin-top: -10px;
}
.gif img{
    width:1150px;
    margin-left: 80px;
}
.p-d{
    text-align: center;
    margin-top: 80px;
}
.d-pic img{
    height: 250px;
    width: 280px;
}

.div-1{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin-left: 80px;
    margin-right:-5px;
}
.pic-d-2 img{
    height: 150px;
    width: 340px;
}
.div-two{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-left: 80px;
    margin-right: -65px;
}
.div-three{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-left: 80px;
    margin-right: -70px;
}


.d-p-3 img{
    height: 250px;
    width: 288px;
}
.div-thr{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right:40px;
    margin-left:80px;
}

.d-p-4 img{
    height: 180px;
    width: 210px; 
}

.div-four{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 80px;
    gap: 15px;
    margin-right: -10px;
   
}
.lst img{
    height: 300px;
    width: 1150px;
    margin-left: 80px;
    margin-top: 100px;
}
.lst2 img{
    height: 100px;
    width: 1349px;
    margin-top: 100px;
    
}

.footer{
    background-color: rgb(36, 36, 41);
    height: 400px;
    width: 1349px;
    padding-top: 30px;
    
  
}
.footer li{
    color: white;
    list-style: none;
}
.footer hr{
    width: 250px;
    color: white;
}
.footer a{
    text-decoration: none;
    color: white;
}
.logo2{
    color: white;
}
.footer li :hover{
   color: rgb(233, 58, 105);
}
.tw li:hover{
    color: rgb(233, 58, 105);
    
}
.treee li:hover{
    color: rgb(233, 58, 105);
  
}
.frrr li:hover{
    color: rgb(233, 58, 105);
  
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.fvvv li:hover{
    color: rgb(233, 58, 105);
  
}